* {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: aquamarine;
}

.navbar {
  display: flex;
  gap: 8px;
}

.login-form {
  width: 400px;
  border: 1px solid #ddd;
  margin: 20px auto;
  padding: 16px;
  display: flex;
  gap : 8px;
}