* {
  box-sizing: border-box;
}

.register-form, .login-form {
  width: 600px;
  padding: 16px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto;
}

label, input {
  width: 100%;
  font-size: 20px;
}

